// 전통주 템플릿 1
// –––––––––––––––––––––––––––––––––––––––––––––––––– 
.juntongju-template-1 {
  width: 1000px;
  height: 1000px;
  padding: 50px;
  .header {
    height: 100px;
    border-bottom: 2px solid $gray-900;
    .name {
      display: inline-block;
      height: 70px;
      line-height: 0.8em;
      font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 80';
      font-weight: 800;
      font-size: 90px;
    }
    .stamp {
      z-index: 2;
      position: absolute;
      top: -95px;
      right: 30px;
      color: $gray-400;
      border-color: $gray-400;
      mix-blend-mode: multiply;
      &:before,
      &:after {
        position: absolute;
        display: block;
        border: 4px solid;
        border-color: inherit;
        border-radius: 50%;
        content: '';
      }
      &:before {
        top: 16px;
        left: -104px;
        width: 220px;
        height: 220px;
      }
      &:after {
        top: 50px;
        left: -70px;
        width: 152px;
        height: 152px;
      }
      span {
        position: absolute;
        top: 0px;
        left: -7px;
        display: inline-block;
        width: 25px;
        height: 126px;
        transform-origin: bottom center;
        font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 90';
        font-weight: 900;
        font-size: 26px;
        color: inherit;
        text-align: center;
      }
    }
    .stamp-yearround {
      @include rotated-text(25, 360, 0);
    }
    .stamp-seasonal {
      display: none;
      @include rotated-text(28, 360, 0);
    }
    .stamp-limited {
      display: none;
      @include rotated-text(28, 360, 0);
    }
  }
  .content {
    height: 710px;
    padding: 30px 0;
    .img-wrap {
      width: 50%;
      height: 100%;
      background-color: $gray-100;
    }
    .text-wrap {
      width: 50%;
      height: 100%;
      padding-left: 40px;
      .producer-name {
        font-size: 35px;
        font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 90';
        font-weight: 900;
        text-transform: uppercase;
      }
      .description {
        margin-top: 20px;
        font-size: 24px;
        line-height: 1.7em;
        text-align: justify;
        word-break: break-all;
        letter-spacing: -.015em;
        hr {
          margin: 8px 0;
          border: none;
        }
      }
    }
  }
  .footer {
    height: 90px;
    padding-bottom: 4px;
    border-top: 2px solid $gray-900;
    border-bottom: 4px solid $gray-900;
    .juntongju-info {
      height: 100%;
      border-bottom: 2px solid $gray-900;
      .info-item {
        padding: 0 15px;
        border-left: 2px solid $gray-900;
        font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 70';
        font-weight: 700;
        font-size: 32px;
        span {
          font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 70';
          font-weight: 700;
          white-space: nowrap;
        }
        small {
          margin-top: 5px;
          margin-right: 8px;
          font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 80';
          font-weight: 800;
          font-size: 20px;
        }
      }
      .info-item:first-child {
        border-left: none;
      }
    }
  }
}