.html-phone {
  .remote-control {
    bottom: 50%;
    transform: scale(1);
  }
  .phone-container {
    transform: scale(0.5);
    transform-origin: top;
    .phone {
      width: 680px;
      height: 1270px;
      border: 2px solid $border-color;
      border-radius: 100px;
      .screen {
        width: 620px;
        height: 1080px;
        border: 2px solid $border-color;
        border-radius: 16px;
        .kakaotalk {
          height: 100%;
          background-color: #bdcfdb;
          .nav,
          .bottom-bar {
            z-index: 3;
          }
          .bottom-bar {
            bottom: 0;
          }
          .chat-container {
            padding: 88px 8px 0;
            .icon-wrap {
              .symbol {
                width: 56px;
                height: 56px;
                border-radius: 20px;
              }
            }
            .chat-wrap {
              margin-top: 3px;
              margin-left: 12px;
              width: 75%;
              .pf-name {
                font-size: 20px;
              }
              .chat-bubble {
                margin-top: 10px;
                border-radius: 20px;
                .chat-img {
                  width: 100%;
                  border-bottom: 1px solid $border-color;
                }
                .chat-text {
                  margin-bottom: 0;
                  padding: 22px;
                  font-size: 22px;
                }
                .btn-wrap {
                  padding: 0 22px;
                  .kakaotalk-btn {
                    margin-bottom: 22px;
                    padding: 18px 0;
                    border: 1px solid $border-color;
                    border-radius: 8px;
                    font-size: 22px;
                    background-color: #f5f6f7;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}