// 사케 템플릿 1
// –––––––––––––––––––––––––––––––––––––––––––––––––– 
.sake-template-1 {
  width: 1000px;
  height: 1000px;
  .img-wrap {
    max-width: 400px;
    min-width: 400px;
    .sake-img {
      min-width: 750px;
    }
  }
  .text-container {
    width: 600px;
    .text-wrap {
      width: 500px;
      .sake-name {
        display: inline-block;
        font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 90';
        font-weight: 900;
        font-size: 60px;
        line-height: 1.2em;
        text-transform: uppercase;
        .stamp {
          z-index: 2;
          position: absolute;
          top: -45px;
          right: -100px;
          padding: 7px 11px 9px 7px;
          border: 8px solid;
          border-radius: 8px;
          border-color: $gray-400;
          color: $gray-400;
          line-height: .96em !important;
          font-family: 'Yoon Gothic 700', 'Yoon Gothic 700 90' !important;
          letter-spacing: -4px;
          mix-blend-mode: multiply;
          transform: rotate(-10deg);
          opacity: 0.8;
        }
        .stamp-yearround {}
        .stamp-seasonal {
          display: none;
        }
        .stamp-limited {
          display: none;
        }
      }
      .sake-info {
        margin-top: 40px;
        .info-item {
          font-size: 20px;
          .info-name {
            min-width: 140px;
            font-family: 'Yoon Gothic 700', 'Yoon Gothic 700 70';
            font-weight: 700;
          }
          .info-data {}
        }
        .info-item ~ .info-item {
          margin-top: 18px;
        }
      }
      .sakegraph {
        margin-top: 35px;
        .sakegraph-smv {
          padding-bottom: 6px;
        }
        .sakegraph-acidity {
          padding-top: 6px;
        }
        .cursor-wrap {
          position: absolute;
          width: 480px;
          transform: translateX(-15px);
          z-index: 2;
          .cursor {
            min-width: 26px;
            height: 18px;
            padding: 0 2px;
            border-radius: 4px;
            border: 1px solid lighten($primary, 15%);
            background-color: lighten($primary, 55%);
            color: $primary;
            text-align: center;
            font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 60';
            font-weight: 600;
            font-size: 8px;
            line-height: 16px;
          }
          #SMVCursor {
            transform: translateX(5px) translateY(-2px);
          }
          #acidityCursor {
            transform: translateX(9px) translateY(-2px);
          }
        }
        .sakegraph-item-wrap {
          position: relative;
          height: 14px;
          &:before {
            position: absolute;
            top: 7px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $gray-400;
            content: '';
          }
          .sakegraph-item {
            position: relative;
            width: 14px;
            text-align: center;
            &:before {
              position: absolute;
              top: 0;
              left: 50%;
              display: block;
              width: 2px;
              height: 14px;
              border-right: 1px solid $gray-400;
              transform: translateX(-50%);
              content: '';
            }
          } 
        }
      }
      .description {
        margin-top: 35px;
        font-size: 21px;
        line-height: 36px;
        text-align: justify;
        word-break: break-all;
        letter-spacing: -.03em;
        hr {
          margin: 8px 0;
          border: none;
        }
      }
    }
  }
}

