@import 'utilities/sizing';
@import 'utilities/overflow';

.bg-dark-primary {
  background-color: #2c5138;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.border-bottom-dashed {
  border-bottom: 1px dashed $border-color !important;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.mb-n5 {
  margin-bottom: -1.75rem;
}

.text-dark-muted {
  color: $gray-600;
}

.condensed {
  font-family: "Suisse Int'l Condensed" !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}