@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK KR DemiLight'), local('NotoSansCJKkr-DemiLight'),
  url(../fonts/NotoSans-DemiLight.eot),
  url(../fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-DemiLight.woff) format('woff'),
  url(../fonts/NotoSans-DemiLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans CJK KR Regular'), local('NotoSansCJKkr-Regular'),
  url(../fonts/NotoSans-Regular.eot),
  url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Regular.woff) format('woff'),
  url(../fonts/NotoSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans CJK KR Medium'), local('NotoSansCJKkr-Medium'),
  url(../fonts/NotoSans-Medium.eot),
  url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Medium.woff) format('woff'),
  url(../fonts/NotoSans-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans CJK KR Bold'), local('NotoSansCJKkr-Bold'),
  url(../fonts/NotoSans-Bold.eot),
  url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Bold.woff) format('woff'),
  url(../fonts/NotoSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans CJK KR Black'), local('NotoSansCJKkr-Black'),
  url(../fonts/NotoSans-Black.eot),
  url(../fonts/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Black.woff) format('woff'),
  url(../fonts/NotoSans-Black.woff2) format('woff2');
}

// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

*, body {
  font-family: 'Noto Sans KR', -apple-system, sans-serif;
  letter-spacing: -0.02em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// Components
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.resize {
  transform: scale(0.5);
}
.price-tag {
  width: 826px;
  border: 1px solid #ccc;
  background-color: white;
  .comment {
    padding: 45px 60px;
    text-align: center;
    color: white;
    background-color: black;
    .text {
      font-weight: 600;
      font-size: 40px;
    }
  }
  .name-container {
    padding: 40px 60px 25px;
    .name {
      font-weight: 700;
      font-size: 56px;
      line-height: 1.3em;
    }
    .subtext-wrap {
      margin-top: 25px;
      .subtext {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        color: #868E96;
      }
      .subtext + .subtext {
        margin-left: 20px;
        &:before {
          position: absolute;
          top: 8px;
          left: -13px;
          display: block;
          width: 2px;
          height: 22px;
          background-color: #868E96;
          content: '';
        }
      }
    }
    .subtext-wrap + .subtext-wrap {
      margin-top: 4px;
    }
  }
  .price-container {
    padding: 0 60px 25px;
    .price {
      font-weight: 600;
      font-size: 32px;
      text-decoration:line-through;
      color: #868E96;
    }
    .discount-price-wrap {
      display: flex;
      .percent {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.3em;
        color: #495057;
        &:after {
          content: '%';
        }
      }
      .discount-price {
        margin-left: 15px;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.3em;
        color: #FF922B;
      }
    }
  }
  .palette-container {
    padding: 15px 60px 55px;
    .text-wrap {
      display: flex;
      align-items: center;
      .icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
      }
      .text {
        margin-left: 20px;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 32px;
      }
    }
    .text-wrap + .text-wrap {
      margin-top: 8px;
    }
    .wine-palette {
      margin-top: 30px;
      .graph-wrap {
        display: flex;
        align-items: center;
        .title {
          margin-bottom: 4px;
          font-weight: 600;
          font-size: 32px;
        }
        .graph {
          position: relative;
          flex: 1 1 0;
          height: 36px;
          margin-left: 35px;
          border-radius: 18px;
          background-color: #eee;
          .graph-bar {
            position: absolute;
            top: 0;
            width: 20%;
            height: 36px;
            border-radius: 18px;
            background-color: #FF922B;
          }
        }
      }
      .graph-wrap + .graph-wrap {
        margin-top: 12px;
      }
    }
  }
}