@charset "UTF-8";
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK KR DemiLight"), local("NotoSansCJKkr-DemiLight"), url(../fonts/NotoSans-DemiLight.eot), url(../fonts/NotoSans-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-DemiLight.woff) format("woff"), url(../fonts/NotoSans-DemiLight.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK KR Regular"), local("NotoSansCJKkr-Regular"), url(../fonts/NotoSans-Regular.eot), url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff"), url(../fonts/NotoSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: local("Noto Sans CJK KR Medium"), local("NotoSansCJKkr-Medium"), url(../fonts/NotoSans-Medium.eot), url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"), url(../fonts/NotoSans-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK KR Bold"), local("NotoSansCJKkr-Bold"), url(../fonts/NotoSans-Bold.eot), url(../fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff"), url(../fonts/NotoSans-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK KR Black"), local("NotoSansCJKkr-Black"), url(../fonts/NotoSans-Black.eot), url(../fonts/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Black.woff) format("woff"), url(../fonts/NotoSans-Black.woff2) format("woff2");
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

*, body {
  font-family: "Noto Sans KR", -apple-system, sans-serif;
  letter-spacing: -0.02em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.resize {
  margin: 0 calc(826px / -4);
  transform: scale(0.5);
}

.price-tag {
  width: 826px;
  border: 1px solid #ccc;
  background-color: white;
}
.price-tag .comment {
  padding: 45px 60px;
  text-align: center;
  color: white;
  background-color: black;
}
.price-tag .comment .text {
  font-weight: 600;
  font-size: 40px;
}
.price-tag .name-container {
  padding: 40px 60px 25px;
}
.price-tag .name-container .name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.3em;
}
.price-tag .name-container .subtext-wrap {
  margin-top: 28px;
}
.price-tag .name-container .subtext-wrap .subtext {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  color: #868E96;
}
.price-tag .name-container .subtext-wrap .subtext.volume:after {
  content: "㎖";
}
.price-tag .name-container .subtext-wrap .subtext + .subtext {
  margin-left: 20px;
}
.price-tag .name-container .subtext-wrap .subtext + .subtext:before {
  position: absolute;
  top: 10px;
  left: -13px;
  display: block;
  width: 2px;
  height: 27px;
  background-color: #868E96;
  content: "";
}
.price-tag .name-container .subtext-wrap + .subtext-wrap {
  margin-top: 4px;
}
.price-tag .price-container {
  padding: 0 60px 25px;
}
.price-tag .price-container .price {
  font-weight: 600;
  font-size: 32px;
  text-decoration: line-through;
  color: #868E96;
}
.price-tag .price-container .discount-price-wrap {
  display: flex;
}
.price-tag .price-container .discount-price-wrap .percent {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3em;
  color: #495057;
}
.price-tag .price-container .discount-price-wrap .percent:after {
  content: "%";
}
.price-tag .price-container .discount-price-wrap .discount-price {
  margin-left: 15px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3em;
  color: #FF922B;
}
.price-tag .palette-container {
  padding: 15px 60px 20px;
}
.price-tag .palette-container .text-wrap {
  display: none;
  align-items: center;
}
.price-tag .palette-container .text-wrap .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.price-tag .palette-container .text-wrap .text {
  margin-left: 20px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 32px;
}
.price-tag .palette-container .text-wrap + .text-wrap {
  margin-top: 8px;
}
.price-tag .palette-container .wine-palette {
  margin-top: 30px;
}
.price-tag .palette-container .wine-palette .graph-wrap {
  display: none;
  align-items: center;
}
.price-tag .palette-container .wine-palette .graph-wrap .title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 32px;
}
.price-tag .palette-container .wine-palette .graph-wrap .graph {
  position: relative;
  flex: 1 1 0;
  height: 36px;
  margin-left: 35px;
  border-radius: 18px;
  background-color: #eee;
}
.price-tag .palette-container .wine-palette .graph-wrap .graph .graph-bar {
  position: absolute;
  top: 0;
  width: 20%;
  height: 36px;
  border-radius: 18px;
  background-color: #FF922B;
}
.price-tag .palette-container .wine-palette .graph-wrap + .graph-wrap {
  margin-top: 12px;
}
.price-tag .balance-container {
  display: none;
  padding: 15px 60px 55px;
}
.price-tag .balance-container .title-wrap .title {
  font-weight: 600;
  font-size: 32px;
}
.price-tag .balance-container .title-wrap .subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #868E96;
}
.price-tag .balance-container .tachometer-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  height: calc((826px - 70px * 2) / 2);
  margin-top: 20px;
}
.price-tag .balance-container .tachometer-container .arrow {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-tag .balance-container .tachometer-container .arrow .circle {
  z-index: 4;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
.price-tag .balance-container .tachometer-container .arrow .diamond {
  z-index: 3;
  width: calc(826px - 70px * 2);
  height: calc(826px - 70px * 2);
  border: 3px solid white;
  background-color: #c4c4c4;
  transform: scale(0.03, 0.7) rotate(45deg);
}
.price-tag .balance-container .tachometer-container .arrow .select {
  z-index: 2;
  position: absolute;
}
.price-tag .balance-container .tachometer-container .arrow .select path {
  fill: #FF922B;
}
.price-tag .balance-container .tachometer-container .divider {
  z-index: 1;
  position: absolute;
  width: calc(826px - 70px * 2);
  height: calc(826px - 70px * 2);
}
.price-tag .balance-container .tachometer-container .divider path {
  fill: #f1f4f5;
}
.price-tag .balance-container .tachometer-container .divider.divider-1 {
  transform: rotate(-36deg);
}
.price-tag .balance-container .tachometer-container .divider.divider-2 {
  transform: rotate(36deg);
}
.price-tag .balance-container .tachometer-container .text-wrap {
  position: absolute;
  top: calc((826px - 120px * 2) / 2);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.price-tag .balance-container .tachometer-container .text-wrap .text {
  margin: 0 60px;
  font-weight: 600;
  font-size: 32px;
  color: #868E96;
}
.price-tag .balance-container .tachometer-container .graph {
  width: calc(826px - 70px * 2);
  height: calc(826px - 70px * 2);
  border: 30px solid #DEE4E6;
  border-radius: 50%;
}

.form-container {
  width: 400px;
  padding: 40px 35px;
  margin-left: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036);
}
.form-container .form {
  display: flex;
  flex-direction: column;
}
.form-container .form .form-item {
  display: flex;
  flex-direction: column;
}
.form-container .form .form-item .label {
  font-weight: 700;
  font-size: 15px;
}
.form-container .form .form-item .input {
  margin-top: 5px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
}
.form-container .form .form-item .input-wrap {
  display: flex;
}
.form-container .form .form-item .input-wrap .input {
  flex: 1 1 0;
  width: 1px;
}
.form-container .form .form-item .input-wrap .input + .input {
  margin-left: 10px;
}
.form-container .form .form-item + .form-item {
  margin-top: 10px;
}
.form-container .form .button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
