@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro710'),
         local('Yoon 윤고딕 710'),
         local('Yoon Gothic 700 10');
    font-weight: 100;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro720'),
         local('Yoon 윤고딕 720'),
         local('Yoon Gothic 700 20');
    font-weight: 200;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro730'),
         local('Yoon 윤고딕 730'),
         local('Yoon Gothic 700 30');
    font-weight: 300;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro740'),
         local('Yoon 윤고딕 740'),
         local('Yoon Gothic 700 40');
    font-weight: 400;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro750'),
         local('Yoon 윤고딕 750'),
         local('Yoon Gothic 700 50');
    font-weight: 500;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro760'),
         local('Yoon 윤고딕 760'),
         local('Yoon Gothic 700 60');
    font-weight: 600;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro770'),
         local('Yoon 윤고딕 770'),
         local('Yoon Gothic 700 70');
    font-weight: 700;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro780'),
         local('Yoon 윤고딕 780'),
         local('Yoon Gothic 700 80');
    font-weight: 800;
}
@font-face {
    font-family: 'Yoon Gothic 700';
    src: local('YoonGothicPro790'),
         local('Yoon 윤고딕 790'),
         local('Yoon Gothic 700 90');
    font-weight: 900;
}

// Body
// ––––––––––––––––––––––––––––––––––––––––––––––––––
*, body {
    font-family: "Suisse Int'l", 'Yoon Gothic 700', 'Yoon Gothic 700 40', Sans-serif;
    letter-spacing: -.015em;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased; // Chrome, Safari
    -moz-osx-font-smoothing: grayscale; // Firefox
}